@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

@font-face {
  display: swap;
  font-family: "Chloe";
  font-style: normal;
  font-weight: 500;
  src: url(https://51734.cdn.simplo7.net/static/51734/galeria/166864394941401.otf.css);
}
