@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

@font-face {
  display: swap;
  font-family: "Chloe";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Chloe-Regular.otf);
}
