@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.giraFriday {
  &_overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    top: 0;
    z-index: 2147483650 !important;
  }

  &_modal {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 60px;
    background-color: #b25234;
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.33);
    position: relative;

    @media only screen and (max-width: 768px) {
      margin: auto 10px;
      text-align: center;
      padding: 30px 2 0px;
      width: 95vw;
    }

    drop &.slide-top {
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes slide-top {
      0% {
        transform: translateY(100px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: relative;

      h3 {
        color: #ece2d5;
        font-family: "EB Garamond", serif;
        font-weight: 100;
        font-size: 60px;
        margin: auto;
      }

      &-text {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 20px auto;

        p {
          margin: 10px auto;
          letter-spacing: 1.2px;
          line-height: 1.3;
          font-size: 20px;
          color: #ece2d5;
          font-weight: 200;

          strong {
            font-weight: 600;
          }

          @media only screen and (max-width: 768px) {
            font-size: 16px;
          }
        }

        span {
          text-decoration: underline;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 80%;
      max-width: 400px;

      @media only screen and (max-width: 768px) {
        margin-top: 0px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        line-height: 1.5;
        letter-spacing: 3px;
      }

      img {
        max-width: 200px;
        margin: auto;

        @media only screen and (max-width: 768px) {
          max-width: 150px;
        }
      }

      input {
        background-color: #e3cdbd;
        border: none;
        height: 45px;
        font-size: 18px;
        color: #b8421c;
        letter-spacing: 4px;
        text-align: center;
        border-radius: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;

        @media only screen and (max-width: 768px) {
          height: 35px;
          font-size: 16px;
        }

        &::placeholder {
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-style: normal;
          text-transform: uppercase;
          color: #b8421c;

          @media only screen and (max-width: 768px) {
            font-size: 16px;
          }
        }

        &.error {
          background-color: #e3cdbd;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-style: normal;
          color: rgb(179, 2, 2);
          border: 1px solid rgb(179, 2, 2);

          @media only screen and (max-width: 768px) {
            font-size: 15px;
            border: 1px solid rgb(179, 2, 2);
          }
        }
      }

      button {
        background-color: #e3cdbd;
        color: #b8421c;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 45px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        letter-spacing: 4px;
        border-radius: 25px;
        transition: all 0.5s;

        @media only screen and (max-width: 768px) {
          height: 35px;
          font-size: 16px;
        }

        &:hover {
          background-color: #dec5b3;
        }
      }
    }
  }
}
