.giraFriday {
  &_overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#fff, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    top: 0;
    z-index: 2147483650 !important;
  }

  &_modal {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 60px;
    background-image: url("../images/alcinhas/alcinhas_fundo.jpg");
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.33);
    position: relative;
    
    @media only screen and (max-width: 768px) {
      margin: auto 10px;
      text-align: center;
      padding: 20px 10px;
      width: 95vw;
    }

    drop &.slide-top {
      animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &-side {
      position: absolute;
      width: 25px;
      top: 50%;
      transform: translateY(-50%);

      @media only screen and (max-width: 768px) {
        width: 15px;
      }

      &.right {
        right: 10px;

        @media only screen and (max-width: 768px) {
          right: 5px;
        }
      }

      &.left {
        left: 10px;

        @media only screen and (max-width: 768px) {
          left: 5px;
        }
      }
    }

    @keyframes slide-top {
      0% {
        transform: translateY(100px);
      }
      100% {
        transform: translateY(0px);
      }
    }



    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      position: relative;
      margin-bottom: 20px;

      @media only screen and (max-width: 768px) {
        margin-bottom: 0px !important;
      }

      p {
        color: #61533f;
        font-size: 30px;
      }

      h2 {
        font-family: "Lato";
        text-transform: uppercase;
        margin: 0;
      }

      &_title {
        font-size: 90px;
        margin-bottom: 40px !important;
        font-weight: 100;

        @media only screen and (max-width: 768px) {
          font-size: 50px;
          margin-bottom: 20px !important;
        }
      }

      &_subtitle {
        font-family: "Lato" !important;
        font-size: 60px;
        font-weight: 500;

        @media only screen and (max-width: 768px) {
          font-size: 35px;
        }
      }

      img {
        width: 200px;

        @media only screen and (max-width: 768px) {
          width: 160px;
        }
      }
    }

    &-text {
      margin: 10px auto;
      color:#2442a8;
      text-align: center;
      font-family: "Now", serif;
      font-weight: 300;
      line-height: 1.6;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      max-width: 650px;

      @media only screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    &-subtext {
      font-family: "Lato";
      font-weight: 700;
      letter-spacing: 5px;
      color: #b8421c;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      line-height: 35px;
      margin: 0px;
      margin-top: 10px;

      @media only screen and (max-width: 768px) {
        font-size: 14px;
        margin-top: 10px;
        letter-spacing: 2px;
        line-height: 1.4;
      }
    }

    &-helptext{
      font-family: "Lato";
      font-weight: 400;
      letter-spacing: 3px;
      color: #b8421c;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      line-height: 1.5;
      margin: 20px 0 0;

      @media only screen and (max-width: 768px) {
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        line-height: 1.5;
        letter-spacing: 3px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 80%;
      margin-top: 10px;

      @media only screen and (max-width: 768px) {
        margin-top: 0px;
      }
      
      @media only screen and (max-width: 768px) {
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        line-height: 1.5;
        letter-spacing: 3px;
      }

      input {
        background-color: #776a58;  
        border: none;
        height: 45px;
        font-size: 18px;
        color: #fff;
        letter-spacing: 4px;;
        text-align: center;
        border-radius: 25px;
        font-family: "Forum", serif;
        font-weight: 400;
        font-style: normal;

        @media only screen and (max-width: 768px) {
          height: 35px;
          font-size: 16px;
        }

        &::placeholder {
          font-size: 18px;
          font-family: "Forum", serif;
          font-weight: 400;
          font-style: normal;
          text-transform: uppercase;
          color: fff;

          @media only screen and (max-width: 768px) {
            font-size: 16px;
          }
        }

        &.error {
          background-color: white;
          font-family: "Forum", serif;
          font-weight: 400;
          font-style: normal;
          color: rgb(179, 2, 2);
          border: 1px solid rgb(179, 2, 2);

          @media only screen and (max-width: 768px) {
            font-size: 15px;
            border: 1px solid rgb(179, 2, 2);
          }
        }
      }

      button {
        background-color: #776a58;
        color: #fff;
        font-size: 18px;
        font-family: "Forum", serif;
        font-weight: 400;
        font-style: normal;
        height: 45px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        letter-spacing: 4px;;
        border-radius: 25px;
        transition: all .5s;

        @media only screen and (max-width: 768px) {
          height: 35px;
          font-size: 16px;
        }

        &:hover {
          background-color: #978367;
        }
      }
    }

    a {
      background-color: #aaa194;
      color: #f4f2ee;
      font-size: 18px;
      font-family: "Lato", serif;
      height: 45px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      letter-spacing: 4px;;
      border-radius: 25px;
      transition: all 1;
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      margin: 0 auto;

      @media only screen and (max-width: 768px) {
        height: 35px;
        font-size: 16px;
        width: 280px;
      }

      &:hover {
        background-color: #867e73;
      }
    }
  }
}

.desktop {
  display: block;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}