@import "./fonts";
@import "./modal";

body {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url(/images/giraflor_desk.png);

  @media only screen and (max-width: 768px) {
    background-image: url(/images/giraflor_mob.png);
  }

  &.gf24-junho {
    overflow-y: hidden;
    pointer-events: none;
  }

  &.gf24-junho iframe {
    display: none !important;
  }
}
